<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LFY_TestDispathcQueue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18146ADD1E82BD8100C7D371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18146AF61E82BD8100C7D371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18146B011E82BD8200C7D371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
